In [28]:
import pandas as pd
import numpy as np
import warnings
from pycaret.classification import *
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

## Data

In [29]:
df = pd.read_csv("~/Desktop/dfs_local/ncaab/mm_df.csv")

In [30]:
df.loc[(df['season'] == 2024) & (df['team'] == 'Connecticut'), 'seed'] = 1
df.loc[(df['season'] == 2024) & (df['team'] == 'North Carolina'), 'seed'] = 1 
df.loc[(df['season'] == 2024) & (df['team'] == 'Purdue'), 'seed'] = 1 
df.loc[(df['season'] == 2024) & (df['team'] == 'Houston'), 'seed'] = 1 

df.loc[(df['season'] == 2024) & (df['team'] == 'Iowa St.'), 'seed'] = 2 
df.loc[(df['season'] == 2024) & (df['team'] == 'Arizona'), 'seed'] = 2 
df.loc[(df['season'] == 2024) & (df['team'] == 'Marquette'), 'seed'] = 2
df.loc[(df['season'] == 2024) & (df['team'] == 'Tennessee'), 'seed'] = 2 

df.loc[(df['season'] == 2024) & (df['team'] == 'Illinois'), 'seed'] = 3 
df.loc[(df['season'] == 2024) & (df['team'] == 'Baylor'), 'seed'] = 3 
df.loc[(df['season'] == 2024) & (df['team'] == 'Kentucky'), 'seed'] = 3 
df.loc[(df['season'] == 2024) & (df['team'] == 'Creighton'), 'seed'] = 3 

df.loc[(df['season'] == 2024) & (df['team'] == 'Duke'), 'seed'] = 4 
df.loc[(df['season'] == 2024) & (df['team'] == 'Kansas'), 'seed'] = 4 
df.loc[(df['season'] == 2024) & (df['team'] == 'Auburn'), 'seed'] = 4 
df.loc[(df['season'] == 2024) & (df['team'] == 'Alabama'), 'seed'] = 4 

df.loc[(df['season'] == 2024) & (df['team'] == "BYU"), 'seed'] = 5 
df.loc[(df['season'] == 2024) & (df['team'] == 'San Diego St.'), 'seed'] = 5 
df.loc[(df['season'] == 2024) & (df['team'] == 'Wisconsin'), 'seed'] = 5 
df.loc[(df['season'] == 2024) & (df['team'] == "Saint Mary's"), 'seed'] = 5 

df.loc[(df['season'] == 2024) & (df['team'] == 'Gonzaga'), 'seed'] = 6 
df.loc[(df['season'] == 2024) & (df['team'] == 'Clemson'), 'seed'] = 6 
df.loc[(df['season'] == 2024) & (df['team'] == 'Texas Tech'), 'seed'] = 6 
df.loc[(df['season'] == 2024) & (df['team'] == 'South Carolina'), 'seed'] = 6 

df.loc[(df['season'] == 2024) & (df['team'] == 'Florida'), 'seed'] = 7
df.loc[(df['season'] == 2024) & (df['team'] == 'Washington St.'), 'seed'] = 7 
df.loc[(df['season'] == 2024) & (df['team'] == 'Texas'), 'seed'] = 7 
df.loc[(df['season'] == 2024) & (df['team'] == 'Dayton'), 'seed'] = 7 

df.loc[(df['season'] == 2024) & (df['team'] == 'Nebraska'), 'seed'] = 8 
df.loc[(df['season'] == 2024) & (df['team'] == 'Utah St.'), 'seed'] = 8 
df.loc[(df['season'] == 2024) & (df['team'] == 'Florida Atlantic'), 'seed'] = 8 
df.loc[(df['season'] == 2024) & (df['team'] == 'Mississippi St.'), 'seed'] = 8 


df.loc[(df['season'] == 2024) & (df['team'] == 'Michigan St.'), 'seed'] = 9 
df.loc[(df['season'] == 2024) & (df['team'] == 'Texas A&M'), 'seed'] = 9 
df.loc[(df['season'] == 2024) & (df['team'] == 'TCU'), 'seed'] = 9 
df.loc[(df['season'] == 2024) & (df['team'] == 'Northwestern'), 'seed'] = 9 


df.loc[(df['season'] == 2024) & (df['team'] == 'Nevada'), 'seed'] = 10 
df.loc[(df['season'] == 2024) & (df['team'] == 'Boise St.'), 'seed'] = 10
df.loc[(df['season'] == 2024) & (df['team'] == 'Colorado'), 'seed'] = 10
df.loc[(df['season'] == 2024) & (df['team'] == 'Drake'), 'seed'] = 10
df.loc[(df['season'] == 2024) & (df['team'] == 'Colorado St.'), 'seed'] = 10


df.loc[(df['season'] == 2024) & (df['team'] == 'New Mexico'), 'seed'] = 11 
df.loc[(df['season'] == 2024) & (df['team'] == 'Oregon'), 'seed'] = 11
df.loc[(df['season'] == 2024) & (df['team'] == 'N.C. State'), 'seed'] = 11
df.loc[(df['season'] == 2024) & (df['team'] == 'Duquesne'), 'seed'] = 11


df.loc[(df['season'] == 2024) & (df['team'] == 'Grand Canyon'), 'seed'] = 12
df.loc[(df['season'] == 2024) & (df['team'] == 'James Madison'), 'seed'] = 12
df.loc[(df['season'] == 2024) & (df['team'] == 'McNeese St.'), 'seed'] = 12
df.loc[(df['season'] == 2024) & (df['team'] == 'UAB'), 'seed'] = 12

df.loc[(df['season'] == 2024) & (df['team'] == 'Vermont'), 'seed'] = 13 
df.loc[(df['season'] == 2024) & (df['team'] == 'Yale'), 'seed'] = 13 
df.loc[(df['season'] == 2024) & (df['team'] == 'Samford'), 'seed'] = 13 
df.loc[(df['season'] == 2024) & (df['team'] == 'Charleston'), 'seed'] = 13


df.loc[(df['season'] == 2024) & (df['team'] == 'Oakland'), 'seed'] = 14 
df.loc[(df['season'] == 2024) & (df['team'] == 'Akron'), 'seed'] = 14 
df.loc[(df['season'] == 2024) & (df['team'] == 'Morehead St.'), 'seed'] = 14 
df.loc[(df['season'] == 2024) & (df['team'] == 'Colgate'), 'seed'] = 14


df.loc[(df['season'] == 2024) & (df['team'] == 'Long Beach St.'), 'seed'] = 15 
df.loc[(df['season'] == 2024) & (df['team'] == 'Western Kentucky'), 'seed'] = 15 
df.loc[(df['season'] == 2024) & (df['team'] == 'South Dakota St.'), 'seed'] = 15 
df.loc[(df['season'] == 2024) & (df['team'] == "Saint Peter's"), 'seed'] = 15 


df.loc[(df['season'] == 2024) & (df['team'] == 'Longwood'), 'seed'] = 16
df.loc[(df['season'] == 2024) & (df['team'] == 'Stetson'), 'seed'] = 16 
df.loc[(df['season'] == 2024) & (df['team'] == 'Montana St.'), 'seed'] = 16 
df.loc[(df['season'] == 2024) & (df['team'] == 'Grambling St.'), 'seed'] = 16
df.loc[(df['season'] == 2024) & (df['team'] == 'Wagner'), 'seed'] = 16

In [31]:
df.columns.values

array(['Unnamed: 0', 'season', 'team', 'conference', 'seed', 'round',
       'tempo_adj', 'tempo_adj_rank', 'tempo_raw', 'tempo_raw_rank',
       'avg_poss_length_offense', 'avg_poss_length_offense_rank',
       'avg_poss_length_defense', 'avg_poss_length_defense_rank',
       'off_efficiency_adj', 'off_efficiency_adj_rank',
       'off_efficiency_raw', 'off_efficiency_raw_rank',
       'def_efficiency_adj', 'def_efficiency_adj_rank',
       'def_efficiency_raw', 'def_efficiency_raw_rank', '3_p_%_d',
       '3_p_%_rank_d', '2_p_%_d', '2_p_%_rank_d', 'ft_%_d', 'ft_%_rank_d',
       'blk_%_d', 'blk_%_rank_d', 'stl_%_d', 'stl_%_rank_d', 'a_%_d',
       'a_%_rank_d', '3_pa_%_d', '3_pa_%_rank_d', 'adj_de_d',
       'adj_de_rank_d', '3_p_%', '3_p_%_rank', '2_p_%', '2_p_%_rank',
       'ft_%', 'ft_%_rank', 'blk_%', 'blk_%_rank', 'stl_%', 'stl_%_rank',
       'a_%', 'a_%_rank', '3_pa_%', '3_pa_%_rank', 'adj_oe_x',
       'adj_oe_rank_x', 'adj_tempo', 'adj_tempo_rank', 'off_e_fg_%',
       'off_e_fg_%_rank', 'off_to_%', 'off_to_%_rank', 'off_or_%',
       'off_or_%_rank', 'off_ft_rate', 'off_ft_rate_rank', 'adj_de',
       'adj_de_rank', 'def_e_fg_%', 'def_e_fg_%_rank', 'def_to_%',
       'def_to_%_rank', 'def_or_%', 'def_or_%_rank', 'def_ft_rate',
       'def_ft_rate_rank', 'avg_hgt', 'avg_hgt_rank', 'eff_hgt',
       'eff_hgt_rank', 'c_hgt', 'c_hgt_rank', 'pf_hgt', 'pf_hgt_rank',
       'sf_hgt', 'sf_hgt_rank', 'sg_hgt', 'sg_hgt_rank', 'pg_hgt',
       'pg_hgt_rank', 'experience', 'experience_rank', 'bench',
       'bench_rank', 'continuity', 'continuity_rank', 'off_ft',
       'off_ft_rank', 'off_2_p', 'off_2_p_rank', 'off_3_p',
       'off_3_p_rank', 'def_ft', 'def_ft_rank', 'def_2_p', 'def_2_p_rank',
       'def_3_p', 'def_3_p_rank'], dtype=object)

In [32]:
df["ROUND_32"] = np.where(df["round"] < 64, 1, 0)
df["SWEET_16"] = np.where(df["round"] < 32, 1, 0)
df["ELITE_8"] = np.where(df["round"] < 16, 1, 0)
df["FINAL_4"] = np.where(df["round"] < 8, 1, 0)

In [33]:
features = ['conference', "seed",
       'tempo_adj', 'tempo_adj_rank', 'tempo_raw', 'tempo_raw_rank',
       'avg_poss_length_offense', 'avg_poss_length_offense_rank',
       'avg_poss_length_defense', 'avg_poss_length_defense_rank',
       'off_efficiency_adj', 'off_efficiency_adj_rank',
       'off_efficiency_raw', 'off_efficiency_raw_rank',
       'def_efficiency_adj', 'def_efficiency_adj_rank',
       'def_efficiency_raw', 'def_efficiency_raw_rank', '3_p_%_d',
       '3_p_%_rank_d', '2_p_%_d', '2_p_%_rank_d', 'ft_%_d', 'ft_%_rank_d',
       'blk_%_d', 'blk_%_rank_d', 'stl_%_d', 'stl_%_rank_d', 'a_%_d',
       'a_%_rank_d', '3_pa_%_d', '3_pa_%_rank_d', 'adj_de_d',
       'adj_de_rank_d', '3_p_%', '3_p_%_rank', '2_p_%', '2_p_%_rank',
       'ft_%', 'ft_%_rank', 'blk_%', 'blk_%_rank', 'stl_%', 'stl_%_rank',
       'a_%', 'a_%_rank', '3_pa_%', '3_pa_%_rank', 'adj_oe_x',
       'adj_oe_rank_x', 'adj_tempo', 'adj_tempo_rank', 'off_e_fg_%',
       'off_e_fg_%_rank', 'off_to_%', 'off_to_%_rank', 'off_or_%',
       'off_or_%_rank', 'off_ft_rate', 'off_ft_rate_rank', 'adj_de',
       'adj_de_rank', 'def_e_fg_%', 'def_e_fg_%_rank', 'def_to_%',
       'def_to_%_rank', 'def_or_%', 'def_or_%_rank', 'def_ft_rate',
       'def_ft_rate_rank', 'avg_hgt', 'avg_hgt_rank', 'eff_hgt',
       'eff_hgt_rank', 'c_hgt', 'c_hgt_rank', 'pf_hgt', 'pf_hgt_rank',
       'sf_hgt', 'sf_hgt_rank', 'sg_hgt', 'sg_hgt_rank', 'pg_hgt',
       'pg_hgt_rank', 'experience', 'experience_rank', 'bench',
       'bench_rank', 'continuity', 'continuity_rank', 'off_ft',
       'off_ft_rank', 'off_2_p', 'off_2_p_rank', 'off_3_p',
       'off_3_p_rank', 'def_ft', 'def_ft_rank', 'def_2_p', 'def_2_p_rank',
       'def_3_p', 'def_3_p_rank', 'ROUND_32']

In [34]:
predict = df[(df['season'] == 2024) & ~(df['seed'].isna())]
df = df[~(df['round'].isna())]
train = df[df['season'] != 2024]

In [35]:
setup(train[features], target="ROUND_32")

In [36]:
best_model = compare_models()

In [37]:
predict["ROUND_32_PROB"] = predict_model(best_model, predict[features], raw_score=True)["prediction_score_1"]

In [38]:
predict

,Unnamed: 0,season,team,conference,seed,round,tempo_adj,tempo_adj_rank,tempo_raw,tempo_raw_rank,...,def_ft_rank,def_2_p,def_2_p_rank,def_3_p,def_3_p_rank,ROUND_32,SWEET_16,ELITE_8,FINAL_4,ROUND_32_PROB
4923,4923,2024,Western Kentucky,CUSA,15.0,NaN,75.1,1.0,75.4,1.0,...,167.0,48.4,266.0,32.5,93.0,0,0,0,0,0.190
4930,4930,2024,New Mexico,MWC,11.0,NaN,72.7,8.0,72.4,22.0,...,93.0,51.6,141.0,27.8,275.0,0,0,0,0,0.420
4931,4931,2024,Alabama,SEC,4.0,NaN,72.6,9.0,74.2,7.0,...,32.0,50.0,209.0,27.2,292.0,0,0,0,0,0.430
4933,4933,2024,Kentucky,SEC,3.0,NaN,72.6,11.0,74.1,8.0,...,153.0,48.7,259.0,31.8,124.0,0,0,0,0,0.510
4936,4936,2024,Samford,SC,13.0,NaN,72.5,14.0,73.8,9.0,...,103.0,47.2,298.0,32.4,97.0,0,0,0,0,0.270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,5270,2024,Houston,B12,1.0,NaN,63.3,348.0,64.2,351.0,...,31.0,44.9,341.0,32.2,102.0,0,0,0,0,0.700
5271,5271,2024,Vermont,AE,13.0,NaN,63.2,349.0,65.5,326.0,...,286.0,52.6,107.0,30.7,164.0,0,0,0,0,0.220
5276,5276,2024,South Carolina,SEC,6.0,NaN,62.9,354.0,64.7,345.0,...,177.0,54.4,53.0,26.6,305.0,0,0,0,0,0.565
5280,5280,2024,Saint Mary's,WCC,5.0,NaN,61.9,358.0,63.4,355.0,...,111.0,54.8,38.0,25.0,338.0,0,0,0,0,0.720
5283,5283,2024,Wagner,NEC,16.0,NaN,61.3,361.0,62.6,361.0,...,265.0,51.2,163.0,31.5,133.0,0,0,0,0,0.100

In [39]:
features = ['conference',"seed",
       'tempo_adj', 'tempo_adj_rank', 'tempo_raw', 'tempo_raw_rank',
       'avg_poss_length_offense', 'avg_poss_length_offense_rank',
       'avg_poss_length_defense', 'avg_poss_length_defense_rank',
       'off_efficiency_adj', 'off_efficiency_adj_rank',
       'off_efficiency_raw', 'off_efficiency_raw_rank',
       'def_efficiency_adj', 'def_efficiency_adj_rank',
       'def_efficiency_raw', 'def_efficiency_raw_rank', '3_p_%_d',
       '3_p_%_rank_d', '2_p_%_d', '2_p_%_rank_d', 'ft_%_d', 'ft_%_rank_d',
       'blk_%_d', 'blk_%_rank_d', 'stl_%_d', 'stl_%_rank_d', 'a_%_d',
       'a_%_rank_d', '3_pa_%_d', '3_pa_%_rank_d', 'adj_de_d',
       'adj_de_rank_d', '3_p_%', '3_p_%_rank', '2_p_%', '2_p_%_rank',
       'ft_%', 'ft_%_rank', 'blk_%', 'blk_%_rank', 'stl_%', 'stl_%_rank',
       'a_%', 'a_%_rank', '3_pa_%', '3_pa_%_rank', 'adj_oe_x',
       'adj_oe_rank_x', 'adj_tempo', 'adj_tempo_rank', 'off_e_fg_%',
       'off_e_fg_%_rank', 'off_to_%', 'off_to_%_rank', 'off_or_%',
       'off_or_%_rank', 'off_ft_rate', 'off_ft_rate_rank', 'adj_de',
       'adj_de_rank', 'def_e_fg_%', 'def_e_fg_%_rank', 'def_to_%',
       'def_to_%_rank', 'def_or_%', 'def_or_%_rank', 'def_ft_rate',
       'def_ft_rate_rank', 'avg_hgt', 'avg_hgt_rank', 'eff_hgt',
       'eff_hgt_rank', 'c_hgt', 'c_hgt_rank', 'pf_hgt', 'pf_hgt_rank',
       'sf_hgt', 'sf_hgt_rank', 'sg_hgt', 'sg_hgt_rank', 'pg_hgt',
       'pg_hgt_rank', 'experience', 'experience_rank', 'bench',
       'bench_rank', 'continuity', 'continuity_rank', 'off_ft',
       'off_ft_rank', 'off_2_p', 'off_2_p_rank', 'off_3_p',
       'off_3_p_rank', 'def_ft', 'def_ft_rank', 'def_2_p', 'def_2_p_rank',
       'def_3_p', 'def_3_p_rank', 'SWEET_16']

In [40]:
setup(train[features], target="SWEET_16")

In [41]:
best_model = compare_models()

In [42]:
predict["SWEET_16_PROB"] = predict_model(best_model, predict[features], raw_score=True)["prediction_score_1"]

In [43]:
predict

,Unnamed: 0,season,team,conference,seed,round,tempo_adj,tempo_adj_rank,tempo_raw,tempo_raw_rank,...,def_2_p,def_2_p_rank,def_3_p,def_3_p_rank,ROUND_32,SWEET_16,ELITE_8,FINAL_4,ROUND_32_PROB,SWEET_16_PROB
4923,4923,2024,Western Kentucky,CUSA,15.0,NaN,75.1,1.0,75.4,1.0,...,48.4,266.0,32.5,93.0,0,0,0,0,0.190,0.0200
4930,4930,2024,New Mexico,MWC,11.0,NaN,72.7,8.0,72.4,22.0,...,51.6,141.0,27.8,275.0,0,0,0,0,0.420,0.1200
4931,4931,2024,Alabama,SEC,4.0,NaN,72.6,9.0,74.2,7.0,...,50.0,209.0,27.2,292.0,0,0,0,0,0.430,0.4874
4933,4933,2024,Kentucky,SEC,3.0,NaN,72.6,11.0,74.1,8.0,...,48.7,259.0,31.8,124.0,0,0,0,0,0.510,0.6100
4936,4936,2024,Samford,SC,13.0,NaN,72.5,14.0,73.8,9.0,...,47.2,298.0,32.4,97.0,0,0,0,0,0.270,0.0100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,5270,2024,Houston,B12,1.0,NaN,63.3,348.0,64.2,351.0,...,44.9,341.0,32.2,102.0,0,0,0,0,0.700,0.5300
5271,5271,2024,Vermont,AE,13.0,NaN,63.2,349.0,65.5,326.0,...,52.6,107.0,30.7,164.0,0,0,0,0,0.220,0.1100
5276,5276,2024,South Carolina,SEC,6.0,NaN,62.9,354.0,64.7,345.0,...,54.4,53.0,26.6,305.0,0,0,0,0,0.565,0.2600
5280,5280,2024,Saint Mary's,WCC,5.0,NaN,61.9,358.0,63.4,355.0,...,54.8,38.0,25.0,338.0,0,0,0,0,0.720,0.4000
5283,5283,2024,Wagner,NEC,16.0,NaN,61.3,361.0,62.6,361.0,...,51.2,163.0,31.5,133.0,0,0,0,0,0.100,0.1200

In [45]:
features = ['conference', "seed",
       'tempo_adj', 'tempo_adj_rank', 'tempo_raw', 'tempo_raw_rank',
       'avg_poss_length_offense', 'avg_poss_length_offense_rank',
       'avg_poss_length_defense', 'avg_poss_length_defense_rank',
       'off_efficiency_adj', 'off_efficiency_adj_rank',
       'off_efficiency_raw', 'off_efficiency_raw_rank',
       'def_efficiency_adj', 'def_efficiency_adj_rank',
       'def_efficiency_raw', 'def_efficiency_raw_rank', '3_p_%_d',
       '3_p_%_rank_d', '2_p_%_d', '2_p_%_rank_d', 'ft_%_d', 'ft_%_rank_d',
       'blk_%_d', 'blk_%_rank_d', 'stl_%_d', 'stl_%_rank_d', 'a_%_d',
       'a_%_rank_d', '3_pa_%_d', '3_pa_%_rank_d', 'adj_de_d',
       'adj_de_rank_d', '3_p_%', '3_p_%_rank', '2_p_%', '2_p_%_rank',
       'ft_%', 'ft_%_rank', 'blk_%', 'blk_%_rank', 'stl_%', 'stl_%_rank',
       'a_%', 'a_%_rank', '3_pa_%', '3_pa_%_rank', 'adj_oe_x',
       'adj_oe_rank_x', 'adj_tempo', 'adj_tempo_rank', 'off_e_fg_%',
       'off_e_fg_%_rank', 'off_to_%', 'off_to_%_rank', 'off_or_%',
       'off_or_%_rank', 'off_ft_rate', 'off_ft_rate_rank', 'adj_de',
       'adj_de_rank', 'def_e_fg_%', 'def_e_fg_%_rank', 'def_to_%',
       'def_to_%_rank', 'def_or_%', 'def_or_%_rank', 'def_ft_rate',
       'def_ft_rate_rank', 'avg_hgt', 'avg_hgt_rank', 'eff_hgt',
       'eff_hgt_rank', 'c_hgt', 'c_hgt_rank', 'pf_hgt', 'pf_hgt_rank',
       'sf_hgt', 'sf_hgt_rank', 'sg_hgt', 'sg_hgt_rank', 'pg_hgt',
       'pg_hgt_rank', 'experience', 'experience_rank', 'bench',
       'bench_rank', 'continuity', 'continuity_rank', 'off_ft',
       'off_ft_rank', 'off_2_p', 'off_2_p_rank', 'off_3_p',
       'off_3_p_rank', 'def_ft', 'def_ft_rank', 'def_2_p', 'def_2_p_rank',
       'def_3_p', 'def_3_p_rank', 'ELITE_8']

In [46]:
setup(train[features], target="ELITE_8")

In [47]:
best_model = compare_models(sort="precision")

In [48]:
predict["ELITE_8_PROB"] = predict_model(best_model, predict[features], raw_score=True)["prediction_score_1"]

In [49]:
predict

,Unnamed: 0,season,team,conference,seed,round,tempo_adj,tempo_adj_rank,tempo_raw,tempo_raw_rank,...,def_2_p_rank,def_3_p,def_3_p_rank,ROUND_32,SWEET_16,ELITE_8,FINAL_4,ROUND_32_PROB,SWEET_16_PROB,ELITE_8_PROB
4923,4923,2024,Western Kentucky,CUSA,15.0,NaN,75.1,1.0,75.4,1.0,...,266.0,32.5,93.0,0,0,0,0,0.190,0.0200,0.0001
4930,4930,2024,New Mexico,MWC,11.0,NaN,72.7,8.0,72.4,22.0,...,141.0,27.8,275.0,0,0,0,0,0.420,0.1200,0.0005
4931,4931,2024,Alabama,SEC,4.0,NaN,72.6,9.0,74.2,7.0,...,209.0,27.2,292.0,0,0,0,0,0.430,0.4874,0.0192
4933,4933,2024,Kentucky,SEC,3.0,NaN,72.6,11.0,74.1,8.0,...,259.0,31.8,124.0,0,0,0,0,0.510,0.6100,0.1198
4936,4936,2024,Samford,SC,13.0,NaN,72.5,14.0,73.8,9.0,...,298.0,32.4,97.0,0,0,0,0,0.270,0.0100,0.0003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,5270,2024,Houston,B12,1.0,NaN,63.3,348.0,64.2,351.0,...,341.0,32.2,102.0,0,0,0,0,0.700,0.5300,0.5160
5271,5271,2024,Vermont,AE,13.0,NaN,63.2,349.0,65.5,326.0,...,107.0,30.7,164.0,0,0,0,0,0.220,0.1100,0.0000
5276,5276,2024,South Carolina,SEC,6.0,NaN,62.9,354.0,64.7,345.0,...,53.0,26.6,305.0,0,0,0,0,0.565,0.2600,0.0015
5280,5280,2024,Saint Mary's,WCC,5.0,NaN,61.9,358.0,63.4,355.0,...,38.0,25.0,338.0,0,0,0,0,0.720,0.4000,0.0035
5283,5283,2024,Wagner,NEC,16.0,NaN,61.3,361.0,62.6,361.0,...,163.0,31.5,133.0,0,0,0,0,0.100,0.1200,0.0003

In [50]:
features = ['conference', "seed",
       'tempo_adj', 'tempo_adj_rank', 'tempo_raw', 'tempo_raw_rank',
       'avg_poss_length_offense', 'avg_poss_length_offense_rank',
       'avg_poss_length_defense', 'avg_poss_length_defense_rank',
       'off_efficiency_adj', 'off_efficiency_adj_rank',
       'off_efficiency_raw', 'off_efficiency_raw_rank',
       'def_efficiency_adj', 'def_efficiency_adj_rank',
       'def_efficiency_raw', 'def_efficiency_raw_rank', '3_p_%_d',
       '3_p_%_rank_d', '2_p_%_d', '2_p_%_rank_d', 'ft_%_d', 'ft_%_rank_d',
       'blk_%_d', 'blk_%_rank_d', 'stl_%_d', 'stl_%_rank_d', 'a_%_d',
       'a_%_rank_d', '3_pa_%_d', '3_pa_%_rank_d', 'adj_de_d',
       'adj_de_rank_d', '3_p_%', '3_p_%_rank', '2_p_%', '2_p_%_rank',
       'ft_%', 'ft_%_rank', 'blk_%', 'blk_%_rank', 'stl_%', 'stl_%_rank',
       'a_%', 'a_%_rank', '3_pa_%', '3_pa_%_rank', 'adj_oe_x',
       'adj_oe_rank_x', 'adj_tempo', 'adj_tempo_rank', 'off_e_fg_%',
       'off_e_fg_%_rank', 'off_to_%', 'off_to_%_rank', 'off_or_%',
       'off_or_%_rank', 'off_ft_rate', 'off_ft_rate_rank', 'adj_de',
       'adj_de_rank', 'def_e_fg_%', 'def_e_fg_%_rank', 'def_to_%',
       'def_to_%_rank', 'def_or_%', 'def_or_%_rank', 'def_ft_rate',
       'def_ft_rate_rank', 'avg_hgt', 'avg_hgt_rank', 'eff_hgt',
       'eff_hgt_rank', 'c_hgt', 'c_hgt_rank', 'pf_hgt', 'pf_hgt_rank',
       'sf_hgt', 'sf_hgt_rank', 'sg_hgt', 'sg_hgt_rank', 'pg_hgt',
       'pg_hgt_rank', 'experience', 'experience_rank', 'bench',
       'bench_rank', 'continuity', 'continuity_rank', 'off_ft',
       'off_ft_rank', 'off_2_p', 'off_2_p_rank', 'off_3_p',
       'off_3_p_rank', 'def_ft', 'def_ft_rank', 'def_2_p', 'def_2_p_rank',
       'def_3_p', 'def_3_p_rank', 'FINAL_4']

In [51]:
setup(train[features], target="FINAL_4")

In [52]:
best_model = compare_models(sort="f1")

In [53]:
predict["FINAL_4_PROB"] = predict_model(best_model, predict[features], raw_score=True)["prediction_score_1"]

In [ ]:
predict_model(best_model, predict[features], raw_score=True)

,conference,seed,tempo_adj,tempo_adj_rank,tempo_raw,tempo_raw_rank,avg_poss_length_offense,avg_poss_length_offense_rank,avg_poss_length_defense,avg_poss_length_defense_rank,...,def_ft,def_ft_rank,def_2_p,def_2_p_rank,def_3_p,def_3_p_rank,FINAL_4,prediction_label,prediction_score_0,prediction_score_1
4923,CUSA,15.0,75.099998,1.0,75.400002,1.0,14.600000,4.0,17.100000,86.0,...,19.200001,167.0,48.400002,266.0,32.500000,93.0,0,0,0.99,0.01
4930,MWC,11.0,72.699997,8.0,72.400002,22.0,15.400000,12.0,17.900000,269.0,...,20.500000,93.0,51.599998,141.0,27.799999,275.0,0,0,0.96,0.04
4931,SEC,4.0,72.599998,9.0,74.199997,7.0,14.500000,3.0,17.600000,217.0,...,22.799999,32.0,50.000000,209.0,27.200001,292.0,0,0,0.78,0.22
4933,SEC,3.0,72.599998,11.0,74.099998,8.0,15.600000,21.0,16.900000,49.0,...,19.500000,153.0,48.700001,259.0,31.799999,124.0,0,0,0.76,0.24
4936,SC,13.0,72.500000,14.0,73.800003,9.0,15.100000,6.0,17.299999,142.0,...,20.400000,103.0,47.200001,298.0,32.400002,97.0,0,0,0.95,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5271,AE,13.0,63.200001,349.0,65.500000,326.0,18.799999,324.0,17.700001,233.0,...,16.700001,286.0,52.599998,107.0,30.700001,164.0,0,0,0.94,0.06
5276,SEC,6.0,62.900002,354.0,64.699997,345.0,19.500000,347.0,17.600000,211.0,...,19.000000,177.0,54.400002,53.0,26.600000,305.0,0,0,0.96,0.04
5280,WCC,5.0,61.900002,358.0,63.400002,355.0,20.299999,359.0,17.799999,259.0,...,20.299999,111.0,54.799999,38.0,25.000000,338.0,0,0,0.87,0.13
5283,NEC,16.0,61.299999,361.0,62.599998,361.0,20.100000,357.0,18.000000,294.0,...,17.299999,265.0,51.200001,163.0,31.500000,133.0,0,0,0.96,0.04
5284,ACC,11.0,59.900002,362.0,61.299999,362.0,19.700001,352.0,19.299999,362.0,...,17.200001,270.0,50.299999,199.0,32.500000,91.0,0,0,0.84,0.16

In [55]:
predict[["team", "conference", "seed", "ROUND_32_PROB", "SWEET_16_PROB","ELITE_8_PROB","FINAL_4_PROB"]].to_csv("/Users/nickdimmitt/Desktop/dfs_local/ncaab/2024_mm.csv")

In [54]:
predict

,Unnamed: 0,season,team,conference,seed,round,tempo_adj,tempo_adj_rank,tempo_raw,tempo_raw_rank,...,def_3_p,def_3_p_rank,ROUND_32,SWEET_16,ELITE_8,FINAL_4,ROUND_32_PROB,SWEET_16_PROB,ELITE_8_PROB,FINAL_4_PROB
4923,4923,2024,Western Kentucky,CUSA,15.0,NaN,75.1,1.0,75.4,1.0,...,32.5,93.0,0,0,0,0,0.190,0.0200,0.0001,0.0
4930,4930,2024,New Mexico,MWC,11.0,NaN,72.7,8.0,72.4,22.0,...,27.8,275.0,0,0,0,0,0.420,0.1200,0.0005,0.0
4931,4931,2024,Alabama,SEC,4.0,NaN,72.6,9.0,74.2,7.0,...,27.2,292.0,0,0,0,0,0.430,0.4874,0.0192,0.0
4933,4933,2024,Kentucky,SEC,3.0,NaN,72.6,11.0,74.1,8.0,...,31.8,124.0,0,0,0,0,0.510,0.6100,0.1198,0.0
4936,4936,2024,Samford,SC,13.0,NaN,72.5,14.0,73.8,9.0,...,32.4,97.0,0,0,0,0,0.270,0.0100,0.0003,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,5270,2024,Houston,B12,1.0,NaN,63.3,348.0,64.2,351.0,...,32.2,102.0,0,0,0,0,0.700,0.5300,0.5160,0.0
5271,5271,2024,Vermont,AE,13.0,NaN,63.2,349.0,65.5,326.0,...,30.7,164.0,0,0,0,0,0.220,0.1100,0.0000,0.0
5276,5276,2024,South Carolina,SEC,6.0,NaN,62.9,354.0,64.7,345.0,...,26.6,305.0,0,0,0,0,0.565,0.2600,0.0015,0.0
5280,5280,2024,Saint Mary's,WCC,5.0,NaN,61.9,358.0,63.4,355.0,...,25.0,338.0,0,0,0,0,0.720,0.4000,0.0035,0.0
5283,5283,2024,Wagner,NEC,16.0,NaN,61.3,361.0,62.6,361.0,...,31.5,133.0,0,0,0,0,0.100,0.1200,0.0003,0.0